body {
  background: #0f161a;
  height: 60vh;
  max-height: 100%;
}
/* main application wrapper */
.main {
  position: relative;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    249deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 89%
  );
  padding: 4em 2em;
  height: 60vh;
  width: 75%;
  margin: auto;
  top: 15%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 0px 60px 0px 60px;
}
/* heading section */
.cardhead {
  font-size: 3em;
  color: azure;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
/* display to show the timing count */
.display {
  color: white;
  display: flex;
  font-size: 2.5em;
  gap: 2em;
  width: 100%;
  margin: auto;
  justify-content: center;
}
/* outer circle of each timing count*/
.outer-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: 5px solid rgba(255, 255, 255, 0.3);
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
/* controls button wrapper */
.controls {
  display: flex;
  gap: 5em;
  margin: 2em auto;
}
.controls button {
  border: 1px solid white;
  border-radius: 2px;
  background: transparent;
  font-size: 1.2em;
  padding: 10px 40px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}
.controls button:hover {
  background: #94bbe9;
  box-shadow: 0 0 65px 0px;
  scale: 1.2;
  border-radius: 2px;
  border: none;
}
